<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>CUGOSOC - 404</title>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.materialdesignicons.com/3.2.89/css/materialdesignicons.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/style/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/style/404.css"/>
  </head>
  <body>
    <div id="header" class="wide">
      <div class="logo banner">
        <img alt="CUGOSOC Homepage" src="/static/img/logo.svg"/>
        <a href="/"></a>
      </div>
    </div>
    <div id="notfound">
      <h1 id="error">404</h1>
      <h3>We couldn't find the page you were looking for!</h3>
      <h2><a href="/"><span class="mdi mdi-arrow-left"></span>Back to the site</a></h2>
    </div>
    <div class="spaced">
      <div id="notice">
        <p>License GPL v2.0</p>
        <p>Copyright &copy; 2018 Cambridge University Go Society</p>
      </div>
    <div>
  </body>
</html>
