{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block stylesheet %}about.css{% endblock %}
{% block content %}
<script type="text/javascript">
  document.querySelector("#about_link").classList.add("selected");
</script>
<h1>About Us</h1>
<p>The Cambridge University Go Society (CUGOSOC) is one of the largest go clubs in the country and has a long history. It has a membership of around 80 active players of all abilities and hence, whatever your strength, you are sure to find similar competition. Membership is open to all and the club has many members from the University and from the town.</p>
<p>The club is very active, holding <a href="/events/">meetings</a> on several days of the week in a variety of locations. We also are in involved with a number of competitions, the main one being the yearly Trigantius. Coinciding with the British Challengers' Tournament we stage an annual Bar-low competition for kyu players only. Additionally we run the termly Sonoyama competition, a fast small board competition with high handicaps in which the entire club can compete.</p>
<p>In addition to our homegrown talent, Cambridge University attracts visitors from all over the world and hence from time to time we have the pleasure of welcoming strong Far Eastern players.</p>
<p>CUGOSOC is affiliated to the <a href="http://www.britgo.org">British Go Association</a> and it is registered with the Societies Syndicate of <a href="http://www.cam.ac.uk">Cambridge University</a>.</p>
<p>Our <a href="/constitution/">constitution</a> is available online.</p>
<h2>Committee</h2>
<p>Our committee for the 2019-2020 academic year is listed below. Feel free to contact any of the committee if you have any questions or queries.</p>
<div id="committee">
  {% for commitee_member in committee %}
    <div class="member">
      <p class="name">{{ commitee_member.name }}</p>
      <p class="role">{{ commitee_member.role }}</p>
      {% if commitee_member.email %}
        <a class="contact" href="mailto:{{ commitee_member.email }}"><span class="mdi mdi-email"></span>{{ commitee_member.email }}</a>
      {% endif %}
    </div>
  {% endfor %}
</div>
{% endblock %}
