{% import "macros.jinja" as macros %}
{% extends "base.html" %}
{% block title %}
  {% if (event is defined) and event %}
    {{ event.name }}
  {% else %}
    No such event!
  {% endif %}
{% endblock %}
{% block stylesheet %}event.css{% endblock %}
{% block content %}
  <script type="text/javascript">
    document.querySelector("#events_link").classList.add("selected");
  </script>
  {% if (event is defined) and event %}
    {{ macros.add_event(event) }}
    {% if desc is defined %}
      <h2>Details</h2>
      {{ desc|markdown }}
    {% endif %}
    <br>
    <iframe id="map" width="900" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q={{ event.location.address }}&key={{ maps_key }}" allowfullscreen></iframe>
  {% else %}
    <h1>Oops... Event not found!</h1>
  {% endif %}
  <h3><a href="/events/"><span class="mdi mdi-arrow-left"></span>All events</a></h3>
{% endblock %}
